@use "./../mixin/mixin.scss" as *;

.container {
  width: 1440px;
  display: flex;
  align-items: center;
  position: relative;
  height: 100vh;
  @include respond-to("tablet") {
    max-width: 100%;
    position: relative;
    h1 {
      font-size: 2em;
      width: 90%;
    }
    p {
      width: 95%;
    }
  }
}
