@use "../typography" as *;
@use "./../mixin" as *;

.nav {
  position: relative;
  align-items: flex-start;
  .nav-container {
    height: 12%;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 10;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
    .hamburger-react {
      opacity: 0;
    }
    .logo {
      width: 15%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 6em;
        height: 6em;
      }
    }
    .contact-btn {
      width: 18%;
      margin-left: 10%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .button {
        width: 50%;
        &:hover {
          transition: 250ms ease;
        }
      }
    }
    .links {
      width: 70%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .link {
        border-radius: 0.5em;
        padding: 0.5em 1.5em 0.5em 1.5em;
        text-decoration: none;
        &:hover {
          background-color: $white;
          color: $main;
          transition: 250ms ease;
        }
      }
    }
    @include respond-to("tablet") {
      display: flex;
      width: 100%;
      justify-content: space-between;
      padding-left: 1em;
      align-items: center;
      .hamburger-react {
        opacity: 100;
        right: 8%;
      }
      .links {
        height: 70%;
        width: 100%;
        display: flex;
        flex-direction: column;
        position: fixed;
        justify-content: space-evenly;
        align-items: center;
        top: 12%;
        border-radius: 0 0 0.5em 0.5em;
        background-color: $black;
        right: 0;
        opacity: 1;
        transition: opacity 400ms ease;
        .contact-btn {
          height: 20%;
          margin: 0;
          width: 50%;
        }
        .link {
          margin: 0em;
          &.active {
            background-color: transparent;
            text-decoration: underline 2px $main;
            text-underline-offset: 0.5em;
            transition: 300ms ease;
            cursor: pointer;
          }
        }
        &.closed {
          .hamburger {
            transform: none;
          }
          display: none;
        }
      }
    }
  }
}
